.head-line .title {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
}

.title.-first {
    letter-spacing: 15px;
}

.title.-second {
    font-size: 80px;
}

.paragraph {
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.contact-button {
    display: inline-block;
    padding: 10px;
    background-color: #FF2978;
    color: #FFF;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.contact-button:hover {
    background: #180F4A;

}