.main-nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;

}

.main-nav .logo {
    flex: 20%;
    text-align: left;
    font-size: 34px;
    font-weight: bold;
    color: #180F4A;
    margin-left: 10%;
    pointer-events: none;
}

.logo .title-logo {
    font-family: 'Dancing Script', cursive;
}