.main-nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.main-nav .logo {
    flex: 20%;
    text-align: left;
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
    color: #180F4A;
    margin-left: 10%;
}