.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main-header .head-line {
    flex: 40%;
    margin-left: 10%;
}

.main-header .head-img {
    flex: 40%;
    margin-right: 10%;
}