.menu-link {
    flex: 70%;
    text-align: right;
    padding: 20px;
}


.menu-link .link {
    padding: 20px 16px;
}

.link {
    font-size: 25px;
    color: #180F4A;
}

.link:hover {
    color: #FF2978;
    border-top: 4px solid #180F4A;
}

.link.-botao {
    background-color: #180F4A;
    color: #fff;
    border-radius: 10px;
    padding: 12px 20px;
    margin-right: 5%;
    margin-left: 5%;
}

.link.-botao:hover {
    border: none;
    background-color: #FF2978;
}